.controls-content {
    bottom: 0px;
    height: 40px;
    left: 0;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: auto;
    width: auto;
    background-color: transparent;
    z-index: 2147483647;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.components-content {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.progressbar-content {  
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%
}

.progressbar-full {
    background-color: rgba(255,255,255,.4);
    box-shadow: 0 1px 4px rgba(20, 22, 26, 0.21);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    height: 8px;
    margin: 10px;
}

.bufferedbar {
    background-color: #d8deea;
    border-radius: 4px;
    height: 8px;
    width: 0%;
}

.progressbar {
    background-color: #95DA8D;
    border-radius: 4px 0 0 4px;
    height: 8px;
    position: absolute;    
}

.progressbar-ball {
    background-color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(20, 22, 26, 0.21);
    cursor: pointer;
    height: 12px;
    margin: -4px -8px 0 0;
    position: absolute;
    right: 0;
    width: 12px;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: transform 200ms cubic-bezier(.68, -0.55, .265, 1.55), -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
}

.progressbar-ball:active {
   background-color: #95DA8D;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); 
}

.progressbar-ball:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); 
}

.buttons-content {
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    vertical-align: middle;
}

.volume-button {
    display: inline-block;
    position: relative;
}

.volume-button:hover > div {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.volume-button:active > div {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.volumebar-content {
    cursor: pointer;
    height: 100px;
    margin: -75px 0 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.volumebar-full {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(20, 22, 26, 0.21);
    height: 60px;
    margin: 6px 9px 0;
    position: absolute;
    width: 8px;

}
.volumebar-level {
    background-color: #95DA8D;
    border-radius: 4px;
    bottom: 0;
    height: 50%;    
    position: absolute;
    width: 8px;
    z-index: 1;
}

.volumebar-ball {
    background-color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(20, 22, 26, 0.21);
    cursor: pointer;
    height: 12px;
    margin: -10px 0 0 -4px;
    position: absolute;
    top: 0;
    width: 12px;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
    transition: transform 200ms cubic-bezier(.68, -0.55, .265, 1.55), -webkit-transform 200ms cubic-bezier(.68, -0.55, .265, 1.55);
}

.volumebar-ball:active {
   background-color: #95DA8D;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); 
}

.volumebar-ball:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); 
}

video::-webkit-media-controls {
    display:none !important;
}

.player-content {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
  background-color: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player-content:hover > .controls-content {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.timer {
  font-size: 15px;    
  color: #fff;
  vertical-align: middle;
  margin: 5px;
  display: inline-block;
}

.overflow-h {
    overflow: hidden;
}

.post {
    width: 500px;
    display: table;
    margin: 5em 5em;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    -webkit-transition: box-shadow ease .5s;
    transition: box-shadow ease .5s;
}

.icon-play-content {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0);
    background-color: black;
    border-radius: 50%;
}

.icon {
    background: url(../images/player-icons.png) no-repeat;
    cursor: pointer;
}

.icon-button {    
    display: inline-block;
    margin: 5px;
    position: relative;
    vertical-align: middle;
}

.icon-expand {
  background-position: -64px 0px;
  width: 20px;
  height: 20px;
}

.icon-hd-selected {
  background-position: -20px -64px;
  width: 20px;
  height: 20px;
}

.icon-hd {
  background-position: -64px -20px;
  width: 20px;
  height: 20px;
}

.icon-minimize {
  background-position: -64px -40px;
  width: 20px;
  height: 20px;
}

.icon-pause {
  background-position: 0px -64px;
  width: 20px;
  height: 20px;
}

.icon-play-big {
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.icon-play {
  background-position: -40px -64px;
  width: 20px;
  height: 20px;
}

.icon-reload {
  background-position: -60px -64px;
  width: 20px;
  height: 20px;
}

.icon-volume-high {
  background-position: -84px 0px;
  width: 20px;
  height: 20px;
}

.icon-volume-low {
  background-position: -84px -20px;
  width: 20px;
  height: 20px;
}

.icon-volume-muted {
  background-position: -84px -40px;
  width: 20px;
  height: 20px;
}

.player-content:-webkit-full-screen {
  width: 100%;
  position: fixed;
  top:0;
  bottom: 0;
}

.rotate {
  -moz-transform:rotate(45deg);  
  -webkit-transform:rotate(45deg);  
  -o-transform:rotate(45deg);  
  -ms-transform:rotate(45deg);
} 

.spinner-content {
  width: 100px;
  height: 100px; 
}

.spinner-content .spinner {
  position: absolute;
  border: 4px solid;
  border-color: transparent #FFF #FFF #FFF;
  border-radius: 50%;
  margin: 30% 0 0 30%;
  width: 36%;
  height: 36%;
  animation: single-arc-rotate 1s infinite linear; 
  box-shadow: 0 1px 4px rgba(20, 22, 26, 0.21);
}

@keyframes single-arc-rotate {
  100% {
    transform: rotate(360deg); 
  } 
}

.spinner-content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
}
